@charset "UTF-8";

body {
    background-color:#fbf9f0;
    width: 1250px;
    margin: 0 0 0 0;
}

h1 {
    color: #575757;
    font-size: 40px;
    font-family: "Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
}

h2 {
    color: #575757;
    font-size: 30px;
    font-family: "Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
}

h3 {
    color: #575757;
    font-size: 20px;
    font-family: "Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
    text-decoration: underline;
    margin-top: 5px;
    margin-left: 10px;
}

p {
    color: #575757;
    font-family: "Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
}


/* ヘッダー */

header {
    text-align: center;
    background-color: #fdbf64;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

nav li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}

main {
    margin: 0 auto 6% 150px;
    max-width: 960px;
}

/* ルート結果表示 */
.loading-content {
	transition: all ease-in-out 1s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
    z-index: 9999; /* 最前面に配置 */
    cursor: wait;
}

.loading-content.js-loaded {
	opacity: 0;
	visibility: hidden;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fbf9f0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.05em;
    animation: loadingAnimation 1s infinite;
}

.loading-content.js-loaded .loading-text {
    opacity: 0;
    visibility: hidden;
}

@keyframes loadingAnimation {
	0% {
	    transform: translate(-50%, -50%) translateY(0);
	}
	50% {
	    transform: translate(-50%, -50%) translateY(-20px);
	}
	100% {
	    transform: translate(-50%, -50%) translateY(0);
	}
}

.route-tab {
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    width: 980px;
}

.route-tab > label {
    order: -1;
    opacity: 0.5;
    width: 100px;
    padding: .6em 1em;
    border-radius: 5px 5px 0 0;
    background-color: #fdbf64;
    color: #fbf9f0;
    font-size: 0.9em;
    text-align: center;
    cursor: pointer;
}

.route-tab > label:hover {
    opacity: 0.8;
}

.route-tab > label input {
    display: none;
}

.route-tab > div {
    display: none;
    width: 100%;
    padding: 1.5em 1em;
    background-color: #fdbf64;
}

.route-tab label:has(:checked) {
    opacity: 1;
}

.route-tab label:has(:checked) + div {
    display: block;
}

.tab-contents {
    height: 580px;
}

.route-map {
    background-color: #fbf9f0;
    width: 600px;
    height: 570px;
    padding: 10px 10px 5px 10px;
}

.search-option {
    position: absolute;
    background-color: #fbf9f0;
    width: 310px;
    height: 290px;
    top: 280px;
    left: 800px;
    padding: 5px;
}

.search-option h3 {
    margin: 5px;
}

.search-option p {
    margin: 5px;
}

.search-option li {
    cursor: pointer;
}

.order-number {
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    color: #f8500a;
}

.search-option .button {
    position: absolute;
    bottom: 5px;
    left: 220px;
}

.transportation {
    position: absolute;
    background-color: #fbf9f0;
    width: 310px;
    height: 270px;
    top: 590px;
    left: 800px;
    padding: 5px;
}

.transportation h3 {
    margin: 5px;
}

.transportation p {
    margin: 5px;
}

.transportation .public{
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    margin-right: 2px;
    margin-left: 2px;
}

.transportation .public p {
    margin: 0px;
}

.transportation .walk {
    display: grid;
    margin-left: 7px;
}

.transportation .walk p {
    margin: 0px;
}

.transportation dd {
    margin-left: 20px;
}

.transportation dd input {
    width: 150px;
}

.transportation .button {
    position: absolute;
    left: 220px;
    bottom: 5px;
}

/* フッター */

footer {
    clear: both;
    background-color: #fdbf64;
    height: 30px;
    text-align: center;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    width: 1250px;
}