@charset "UTF-8";

body {
    background-color:#fbf9f0;
    width: 1250px;
    margin: 0 0 0 0;
}

h1 {
    color: #575757;
    font-size: 40px;
    font-family: "Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
}

h2 {
    color: #575757;
    font-size: 30px;
    font-family: "Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
}

h3 {
    color: #575757;
    font-size: 20px;
    font-family: "Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
    text-decoration: underline;
    margin-top: 5px;
    margin-left: 10px;
}

p {
    color: #575757;
    font-family: "Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
}


/* ヘッダー */

header {
    text-align: center;
    background-color: #fdbf64;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

nav li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
}

main {
    margin: 0 auto 6% 150px;
    max-width: 960px;
}


/* マップ */

#maps {
    position: relative;
    left: 300px;
    top: 0px;
    width: 600px;
    height: 400px;
}

/* 選択したスポット */

.search-result {
    background-color: #fdbf64;
    margin-left: 300px;
    margin-top: 10px;
    width: 600px;
    height: 90px;
    position: relative;
    padding: 5px 5px 5px 5px;
}

.search-result img {
    position: relative;
    height: 90px;
    width: 90px;
}

.search-result h2 {
    position: absolute;
    margin: 0 0 0 0;
    top: 10px;
    left: 110px;
    font-size: 100%;
    width: 480px;
    height: 50px;
}

.search-result p {
    position: absolute;
    margin: 0 0 0 0;
    top: 40px;
    left: 110px;
    width: 500px;
    height: 40px;
    font-size: 100%;
}

.search-result .button {
    display: block;
    width: 50px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* 確定スポット */

.input-area {
    top: 259px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 5px 5px 5px 5px;
    background-color: #fdbf64;
    height: 500px;
    width: 250px;
    position: absolute;
    overflow: auto;
    overflow-x: hidden;
}

.input-area .select-spot {
    background-color: #fbf9f0;
    height: 90px;
    width: 220px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
}

.input-area .select-spot img {
    position: relative;
    height: 90px;
    width: 90px;
}

.input-area .select-spot h2 {
    position: relative;
    left: 100px;
    bottom: 97px;
    margin: 5px 0;
    width: 120px;
    height: 80px;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.input-area .select-spot .delete-button {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    left: 190px;
    font-size: 10px;
    bottom: 115px;
    padding: 2px 2px 2px 2px;
}

.input-area .next-button {
    display: block;
    width: 50px;
    position: relative;
    top: 5px;
    left: 180px;
    margin-bottom: 5px;
}

/* フッター */

footer {
    clear: both;
    background-color: #fdbf64;
    height: 30px;
    text-align: center;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    width: 1250px;
}