<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>環境に優しい観光ルート作成</title>
        <link rel="stylesheet" href="/css/hotel.css">
        <script src="/js/hotel_Rakuten.js"></script>
    </head>

    <body>
    <header>
        <div class="logo">
            <h1>ロゴ</h1>
            <nav>
                <ul>
                    <li><a href="destination.html">旅行先の選択</a></li>
                    <li><a href="spot.html">行きたい場所の選択</a></li>
                    <li><a href="hotel.html">宿泊場所の選択</a></li>
                    <li><a href="place.html">出発場所・到着場所の入力</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h2>③宿泊先の選択</h2>
        <div class="search-option">
            <div class="filter">
                <summary>絞り込み条件</summary>
                    <dl>
                        <div class="budget-select">
                            <dt>
                                <label for="budget">
                                    <p><input type="checkbox" name="budget" value="予算" id="budget">1泊あたりの予算</p>
                                </label>
                            </dt>
                            <dd>
                                <select name="range-min" id="range-min">
                                    <option selected value="0" data-min="0">下限なし</option>
                                    <option value="1000" data-min="1000">1,000円</option>
                                    <option value="2000" data-min="2000">2,000円</option>
                                    <option value="3000" data-min="3000">3,000円</option>
                                    <option value="4000" data-min="4000">4,000円</option>
                                    <option value="5000" data-min="5000">5,000円</option>
                                    <option value="6000" data-min="6000">6,000円</option>
                                    <option value="7000" data-min="7000">7,000円</option>
                                    <option value="8000" data-min="8000">8,000円</option>
                                    <option value="9000" data-min="9000">9,000円</option>
                                    <option value="10000" data-min="10000">10,000円</option>
                                    <option value="12000" data-min="12000">12,000円</option>
                                    <option value="14000" data-min="14000">14,000円</option>
                                    <option value="16000" data-min="16000">16,000円</option>
                                    <option value="18000" data-min="18000">18,000円</option>
                                    <option value="20000" data-min="20000">20,000円</option>
                                    <option value="30000" data-min="30000">30,000円</option>
                                    <option value="40000" data-min="40000">40,000円</option>
                                    <option value="50000" data-min="50000">50,000円</option>
                                    <option value="100000" data-min="100000">100,000円</option>
                                    <option value="150000" data-min="150000">150,000円</option>
                                    <option value="200000" data-min="200000">200,000円</option>
                                </select>
                                <p>～</p>
                                <select name="range-max" id="range-max">
                                    <option value="1000" data-max="1000">1,000円</option>
                                    <option value="2000" data-max="2000">2,000円</option>
                                    <option value="3000" data-max="3000">3,000円</option>
                                    <option value="4000" data-max="4000">4,000円</option>
                                    <option value="5000" data-max="5000">5,000円</option>
                                    <option value="6000" data-max="6000">6,000円</option>
                                    <option value="7000" data-max="7000">7,000円</option>
                                    <option value="8000" data-max="8000">8,000円</option>
                                    <option value="9000" data-max="9000">9,000円</option>
                                    <option value="10000" data-max="10000">10,000円</option>
                                    <option value="12000" data-max="12000">12,000円</option>
                                    <option value="14000" data-max="14000">14,000円</option>
                                    <option value="16000" data-max="16000">16,000円</option>
                                    <option value="18000" data-max="18000">18,000円</option>
                                    <option value="20000" data-max="20000">20,000円</option>
                                    <option value="30000" data-max="30000">30,000円</option>
                                    <option value="40000" data-max="40000">40,000円</option>
                                    <option value="50000" data-max="50000">50,000円</option>
                                    <option value="100000" data-max="100000">100,000円</option>
                                    <option value="150000" data-max="150000">150,000円</option>
                                    <option value="200000" data-max="200000">200,000円</option>
                                    <option selected value="0" data-max="0">上限なし</option>
                                </select>
                            </dd>
                        </div>
                        <div class="distance-select">
                            <dt>
                                <label for="distance">
                                    <p><input type="checkbox" name="distance" value="駅からの距離" id="distance">駅からの距離</p>
                                </label>
                            </dt>
                            <dd>
                                <p>徒歩約
                                <select name="minutes" id="minutes">
                                    <option selected value="0" data-time="0">0</option>
                                    <option value ="5" data-time="5">5</option>
                                    <option value ="10" data-time="10">10</option>
                                    <option value ="15" data-time="15">15</option>
                                    <option value ="20" data-time="20">20</option>
                                    <option value ="25" data-time="25">25</option>
                                    <option value ="30" data-time="30">30</option>
                                    <option value ="35" data-time="35">30～</option>
                                </select>
                                分</p>
                            </dd>
                        </div>
                        <div class="facility-select">
                            <dt>
                                <label for="type">
                                    <p><input type="checkbox" name="facility-type" value="施設タイプ" id="facility-type">施設タイプ</p>
                                </label>
                            </dt>
                            <dd>
                                <p><input type="checkbox" name="facility" value="ホテル" id="hotel" data-class="hotel">
                                <label for="hotel">ホテル</label></p>
                                <p><input type="checkbox" name="facility" value="ペンション" id="pension" data-class="pension">
                                <label for="pension">ペンション</label></p>
                                <p><input type="checkbox" name="facility" value="旅館" id="ryokan" data-class="ryokan">
                                <label for="ryokan">旅館</label></p>
                            </dd>
                        </div>
                    </dl>
            </div>

            <div class="sorting">
                <summary>並び替え条件</summary>
                    <p><input type="radio" name="sorting" value="料金が安い順" id="cheap" data-sort="cheap">
                    <label for="cheap">料金が安い順</label></p>
                    <p><input type="radio" name="sorting" value="料金が高い順" id="expensive" data-sort="expensive">
                    <label for="expensive">料金が高い順</label></p>
                    <p><input type="radio" name="sorting" value="駅から近い順" id="near" data-sort="near">
                    <label for="near">駅から近い順</label></p>
                    <p><input type="radio" name="sorting" value="人気順" id="popular" data-sort="popular">
                    <label for="popular">人気順</label></p>
            </div>

            <input type="submit" method="post" name="application" value="適用" onclick="applyFilter()" class="button">

        </div>

        <div class="search-result">
            <!--<div id="maps">
                <script async
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6UaRw_ME-1NiWguJurxiCUPq83Q0R6lI&libraries=places&callback=initMap"
                    defer
                ></script>
            </div>-->
            <div class="option-result">
                <p>絞り込み条件：</p>
                <p>並び替え条件：</p>
            </div>
            <div class="search-candidate">
            </div>
        </div>

        <div class="input-area-frame">
            <div class="input-area">
            </div>
            <input type="submit" method="post" name="next" value="次へ" onclick="sendSelectHotels()" class="button">
        </div>

    </main>
    <footer>
        <p>Copyright 2023 Mai</p>
    </footer>
  
    </body>
</html>
