<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>環境に優しい観光ルート作成</title>
        <link rel="stylesheet" href="/css/place.css">
        <script src="/js/place.js"></script>
    </head>

    <body>
    <header>
        <div class="logo">
            <h1>ロゴ</h1>
            <nav>
                <ul>
                    <li><a href="/destination">旅行先の選択</a></li>
                    <li><a href="/spot">行きたい場所の選択</a></li>
                    <li><a href="/hotel">宿泊場所の選択</a></li>
                    <li><a href="/place">出発場所・到着場所の入力</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h2>④出発地と到着地の入力</h2>
        <h3 class="dayNumber">日数</h3>
        <h3 class="number" id="trip-days">2</h3>
        <div class="input-place">
            <div class="day" id="day-1">
                <h3>1日目</h3>
                <table>
                    <tr>
                        <th><label>出発地</label></th>
                        <td><input  type="text" placeholder="出発地を入力" class="form" id="departure-1"></td>
                    </tr>
                    <tr>
                        <th><label>到着地</label></th>
                        <td>
                            <select id="arrival-1">
                                <% selectedHotels.forEach(hotel => { %>
                                    <option value="<%= hotel.hotelName %>"><%= hotel.hotelName %></option>
                                <% }); %>
                            </select>
                        </td>
                </table>
                    <input type="submit" method="post" name="confirm" value="確定" onclick="confirmDay(1)" class="button">
            </div>
            <div class="day" id="last-day">
                <h3>最終日</h3>
                    <table>
                        <tr>
                            <th><label>出発地</label></th>
                            <td><label id="final-departure">--</label></td>
                        </tr>
                        <tr>
                            <th><label>到着地</label></th>
                            <td><label id="final-arrival">--</label></td>
                        </tr>
                    </table>
            </div>
            <div class="add-days">
                <button class="plus-button" onclick="addNewDay()">
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="delete-days">
                <button class="minus-button" onclick="deleteDay()">
                    <span></span>
                </button>
            </div>
        </div>

        <div class="confim-area">
            <h2>⑤確認</h2>
                <div class="inputcheck-area">
                    <h3>行きたい場所</h3>
                    <ul>
                        <% selectedSpots.forEach(spot => { %>
                            <li><%= spot.placeName %></li>
                        <% }); %>
                    </ul>
                    <h3>宿泊地</h3>
                    <ul>
                        <% selectedHotels.forEach(hotel => { %>
                            <li><%= hotel.hotelName %></li>
                        <% }); %>
                    </ul>

                    <input type="submit" method="post" name="create" value="作成" onclick="location.href='/result'" class="button">
                </div>
        </div>
    </main>
    <footer>
        <p>Copyright 2023 Mai</p>
    </footer>
            
    </body>
</html>
