<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>環境に優しい観光ルート作成</title>
        <link rel="stylesheet" href="/css/result.css">
        <script>
            (g => {
                  var h, a, k, p = "The Google Maps JavaScript API",
                      c = "google", l = "importLibrary", q = "__ib__",
                      m = document, b = window;
                  b = b[c] || (b[c] = {});
                  var d = b.maps || (b.maps = {}),
                      r = new Set, e = new URLSearchParams,
                      u = () => h || (h = new Promise(async (f,n) => {
                          await (a = m.createElement("script"));
                          e.set("libraries", [...r, "marker"].join(","));
                          for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                          e.set("callback", c + ".maps." + q);
                          a.src = `https://maps.${c}apis.com/maps/api/js?` + e ;
                          d[q] = f;
                          a.onerror = () => h = n(Error(p + " could not load."));
                          a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                          m.head.append(a);
                      }));
                      d[l] ? console.warn(p + " only loads once. Ignoring: ", g) : 
                          d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
              })({
                  key: "AIzaSyD6UaRw_ME-1NiWguJurxiCUPq83Q0R6lI",
                  v: "beta",
              });
          </script>  
        <script src="/js/result.js"></script>

    </head>

    <body>
    <header>
        <div class="logo">
            <h1>ロゴ</h1>
            <nav>
                <ul>
                    <li><a href="/destination">旅行先の選択</a></li>
                    <li><a href="/spot">行きたい場所の選択</a></li>
                    <li><a href="/hotel">宿泊場所の選択</a></li>
                    <li><a href="/place">出発場所・到着場所の入力</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h2>ルート結果</h2>
        <div id ="route-tab" class="route-tab">
        </div>
    </main>
    <footer>
        <p>Copyright 2023 Mai</p>
    </footer>
            
    </body>
</html>
