<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>環境に優しい観光ルート作成</title>
        <link rel="stylesheet" href="/css/spot.css">
        <script src="/js/spot.js"></script>
    </head>

    <body>
    <header>
        <div class="logo">
            <h1>ロゴ</h1>
            <nav>
                <ul>
                    <li><a href="destination.ejs">旅行先の選択</a></li>
                    <li><a href="spot.ejs">行きたい場所の選択</a></li>
                    <li><a href="hotel.ejs">宿泊場所の選択</a></li>
                    <li><a href="place.ejs">出発場所・到着場所の入力</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h2>②行きたい場所の選択</h2>
        <div id="maps">
            <script async
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6UaRw_ME-1NiWguJurxiCUPq83Q0R6lI&libraries=places&callback=initMap"
                defer
            ></script>
        </div>

        <div class="search-result">
            <!-- <img src="/images/example_spot.jpg" alt="表示例">
            <h2></h2>    
            <p>HP：<a href="" target="_blank"></a></p> -->
            <input type="submit" method="post" name="add" value="追加"  class="button">
        </div>

        <div class="input-area">
            <!-- <div class="select-spot">
                <img src="images/example_spot.jpg" alt="表示例">
                <h2>スポット名</h2>
            </div> -->
            <!-- <input type="button" name="delet" value="削除" onclick="clearSelectSpotList()" class="delete-button"> -->
            <input type="submit" method="post" name="next" value="次へ" onclick="nextPage()" class="next-button">
        </div>

    </main>
    <footer>
        <p>Copyright 2023 Mai</p>
    </footer>  
          
    </body>
</html>
